@page
@model AboutModel
@{
    ViewData["Title"] = "ABout";
}
<h1>“About Bleakwind Buffet”</h1>
<p>
    Founded in 2020 from the game-saturated mind of Undergraduate 
    Teaching Assistant Zachery Brunner, Bleakwind Buffet is devoted 
    to bringing you the finest in Skyrim-themed dining experiences.
    So put your bow down, pull up a chair, and join the feast!
</p>
